body {
  background: #888;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

#frame {
  position: relative;
  background: #A4A4A4;
  width: 1900px;
  height: 1060px;
  overflow: display;
  margin: auto;
  margin-top: 10px;
}
img {
  border: 0;
  margin: 0;
  width: 1900px;
  height: 1060px;
}
#status {
  position: absolute;
  right: 40px;
  bottom: 20px;
  color: #777;
  font-size: 40px;
  font-family: sans-serif;
}